@import "index.css";

@media screen and (hover: none) and (pointer: coarse) {

    @media (orientation: landscape) {
        #projects {
            flex-direction: column;
            top: 120px;
            height: calc(100vh - 120px)
        }
    }
    @media (orientation: portrait) {
        #projects {
            flex-direction: column;
            top: 120px;
            height: calc(100vh - 120px);
        }
    }

    #projects {
        position: absolute;
        color: white;
        display: flex;

        min-height: 0;
        flex-grow: 1;
        width: 100%;

        overflow: auto;
        flex-wrap: nowrap;
        white-space: nowrap;
    }

    #projects a {
        text-align: center;
        display: block;
        padding: 0px;
    }

    .project {
        text-align: center;
        margin-inline: auto;
        /*padding-inline: 1em;*/
        padding-block: 50px;
        height: 100%;
        width: 100%;
        box-sizing: border-box;

        /*background: green;*/
        transition: 0.25s ease;
    }

    .project:hover {
        /*background: blue;*/
        font-size: 1.5em;

        transition: 0.25s ease;
    }
}

@media not screen and (hover: none) and (pointer: coarse) {
    #projects {
        position: absolute;
        color: white;
        display: flex;
        flex-direction: column;

        top: 9.5vh;
        width: 100%;
        height: 92.5vh;

        overflow: scroll;
        white-space: nowrap;   
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    #projects::-webkit-scrollbar {
        display: none;
    }

    #projects a {
        text-align: center;
        display: block;
        padding: 0px;
    }

    .project {
        font-size: 1.5em;
        text-align: center;
        margin-inline: auto;
        /*padding-inline: 1em;*/
        padding-block: 40px;
        width: 100%;
        box-sizing: border-box;

        /*background: green;*/
        transition: 0.25s ease;
    }

    .project:hover {
        /*background: blue;*/
        font-size: 2.5em;

        transition: 0.25s ease;
    }
}