@import "index.css";

#projects {
    color: white;
    display: flex;
    flex-direction: column;
}

#projects a {
    text-align: center;
    display: block;
    padding: 0px;
}

.project {
    text-align: center;
    margin-inline: auto;
    /*margin-top: 20px;*/
    padding-inline: 20px;
    padding-block: 40px;
    width: 95%;

    /*background: green;*/
    transition: 0.25s ease;
}

.project:hover {
    /*background: blue;*/
    font-size: 1.5em;

    transition: 0.25s ease;
}