@import "index.css";

<<<<<<< HEAD
@media screen and (hover: none) and (pointer: coarse) {

    @media (orientation: landscape) {
        #projects {
            flex-direction: row;
            top: 15vh;
            height: 85vh;
        }
    }
    @media (orientation: portrait) {
        #projects {
            flex-direction: column;
            top: 13.5vh;
            height: 86.5vh;
        }
    }

    #projects {
        position: absolute;
        color: white;
        display: flex;

        min-height: 0;
        flex-grow: 1;
        width: 100%;

        overflow: auto;
        flex-wrap: nowrap;
        white-space: nowrap;
    }

    #projects a {
        text-align: center;
        display: block;
        padding: 0px;
    }

    .project {
        text-align: center;
        margin-inline: auto;
        /*padding-inline: 1em;*/
        padding-block: 50px;
        height: 100%;
        width: 100%;
        box-sizing: border-box;

        /*background: green;*/
        transition: 0.25s ease;
    }

    .project:hover {
        /*background: blue;*/
        font-size: 1.5em;

        transition: 0.25s ease;
    }
}

@media not screen and (hover: none) and (pointer: coarse) {
    #projects {
        position: absolute;
=======
@media only screen and (max-width: 801px) {
    
    #projects {
        color: white;
        display: flex;
        flex-direction: column;

        overflow: hidden;
        overflow-y: auto;
        white-space: nowrap;

        min-height: calc(100vh - 60px);

        position: absolute;
        top: 80px;
        left: 0px;
        right: 0px;
    }

    .project {
        font-family: 'Space Mono', monospace;
        /* margin-inline: auto; */
        /* margin-block: 20px; */
        /* padding-inline: 100%; */
        padding-block: 20px;
        width: 100%;

        /* transition: transform .2s;
        transform: scale(1); */

        /* background: green; */
    }

    /* .project:hover {
        transition: transform .2s;
        transform: scale(2);
    } */

    #lifesim {
        margin-top: 40px;
    }
}

@media screen and (min-width: 801px) {
    #projects {
>>>>>>> 9c67a0ded6f8367a35d046f1a48556abc15e70d4
        color: white;
        display: flex;
        flex-direction: column;

<<<<<<< HEAD
        top: 9.5vh;
        width: 100%;
        height: 92.5vh;

        overflow: scroll;
        white-space: nowrap;
    }

    #projects a {
        text-align: center;
        display: block;
        padding: 0px;
    }

    .project {
        text-align: center;
        margin-inline: auto;
        /*padding-inline: 1em;*/
        padding-block: 40px;
        width: 100%;
        box-sizing: border-box;

        /*background: green;*/
        transition: 0.25s ease;
    }

    .project:hover {
        /*background: blue;*/
        font-size: 1.75em;

        transition: 0.25s ease;
=======
        overflow: hidden;
        overflow-y: scroll;
        white-space: nowrap;

        min-height: calc(100vh - 60px);
    }

    .project {
        font-family: 'Space Mono', monospace;

        text-align: center;
        margin-inline: auto;
        margin-block: 20px;
        padding-inline: 20px;
        padding-block: 20px;
        width: 100%;

        transition: transform .2s;
        transform: scale(1);

        /* background: green; */
    }

    .project:hover {
        transition: transform .2s;
        transform: scale(2);
    }

    #lifesim {
        margin-top: 40px;
>>>>>>> 9c67a0ded6f8367a35d046f1a48556abc15e70d4
    }
}